/*
 * CHATTER FEED
 */

.panel-heading {
	height: 69px;
}

.chatter-avatar{
	float: left;
}

/* Group & Poster name*/
.preamblecontainer {
	width: 350px;
	float: left;
	text-overflow: ellipsis;
}

.topics {
	float: left;
	margin: 0 0 0 3px;
	width: 350px;
	height: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.cxfeeditem .panel-heading a.feeditemtimestamp{
	font-size: .7em;
	margin-left: 10px;
}

.feeditemActionsWrapper {
	text-align: right;
	float: right;
	width: 80px;
}

.feeditemActionsWrapper a{
	margin-right: 4px;
}

.feeditemActionMenu{
	display: block;
}



.preamblecontainer > span {
	margin-left: 12px;
}

.disclosureTrigger {
	display:block;
	float: left;
	width: 20px;
	margin: 10px 0 0 -12px;
}