/*
 * CHATTER FEED
 */

.panel-heading {
	height: 69px;
}

.chatter-avatar{
	float: left;
}

.topics {
	float: left;
	margin-left: 10px;
	width: 350px;
	height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.feeditemActionsWrapper {
	text-align: right;
	float: right;
	width: 80px;
}

.feeditemActionsWrapper a{
	margin-right: 4px;
}

.feeditemActionMenu{
	display: block;
}

.preamblecontainer > span {
	margin-left: 12px;
}

.disclosureTrigger {
	display:block;
	float: left;
	width: 20px;
	margin: 10px 0 0 -12px;
}