/*
 * CHATTER FEED
 */

.panel-heading {
	height: 69px;
}

.chatter-avatar{
	float: left;
}

.feeditemActionsWrapper {
	text-align: right;
	float: right;
	width: 150px;
}

.feeditemActionsWrapper a{
	margin-right: 4px;
}

.feeditemActionMenu{
	display: block;
}
